*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    font-family: Arial, sans-serif;
    body{
    background-color: #f4f6f8;
}

}

.main-container{
    width: 800px;
    margin: auto;
}

.intro-card{
    margin-bottom: 30px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    margin: 40px 0;
    gap: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.portfolio-row{
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.skills-box{
    background-color: white;
    border-radius: 8px;
    width: 45%;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.projects-box{
    width: 55%;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}


h2{
    background-color: #eef1f4;
    padding: 8px;
    margin-bottom: 10px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th{
    padding: 8px;
}

a{
    font-weight: 500;
    color: blueviolet;
    text-decoration: none;
}
.contact-section{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}